
@{
    ViewBag.Title = "Create";
}

<form action="#" method="post">


    <div class="row">
        <div class="col-md-7 ">
            <div class="form-group">
                <label>Item Name <span class="text-danger">*</span></label>
                <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm"><i class="fal fa-address-card"></i></span>
                    </div>
                    <input type="text" id="name_item" name="name_item" placeholder="Enter your Name Item" class="form-control" title="name item" required="">
                </div>
            </div>
        </div>

        <div class="col-md-5">
            <div class="form-group">
                <label>Barcode</label>
                <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm"><i class="fal fa-barcode-alt"></i></span>
                    </div>
                    <input type="text" id="barcode_item" name="barcode_item" class="form-control" placeholder="Enter your Barcode Item" title="Barcode Item" required="">
                    <a href="#" class="badge-info p-1 rounded shadow">Barcode</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label class="text-danger">Brand</label>
                <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm"><i class="fal fa-award"></i></span>
                    </div>
                    <select class="custom-select form-control" name="brand_item" id="brand_item" title="brand">
                        <option selected>Choose Brand </option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label class="text-danger">Category</label>
                <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm"><i class="fal fa-keyboard"></i></span>
                    </div>
                    <select class="custom-select form-control" name="category_item" id="category_item" title="Category">
                        <option selected>Choose Category </option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
            </div>
        </div>


        <div class="col-md-4">
            <div class="form-group">
                <label class="text-danger">Unite</label>
                <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm"><i class="fal fa-keyboard"></i></span>
                    </div>
                    <select class="custom-select form-control" name="unite_item" id="unite_item" title="Unite">
                        <option selected>Choose Unite </option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label>wight</label>
                <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm"><i class="fal fa-weight"></i></span>
                    </div>
                    <input type="text" id="weight_item" name="weight_item" class="form-control" placeholder="Enter your Weight Item" title="Weight Item" required="">
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label>Size</label>
                <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm"><i class="fal fa-hand-lizard"></i></span>
                    </div>
                    <input type="text" id="size_item" name="size_item" class="form-control" placeholder="Enter your Size Item" title="Size Item">
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label>Cloro</label>
                <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm"><i class="fal fa-palette"></i></span>
                    </div>
                    <input type="text" id="color_item" name="color_item" class="form-control" placeholder="Enter your Color Item" title="Color Item">
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label>Made In</label>
                <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm"><i class="fal fa-globe-americas"></i></span>
                    </div>
                    <input type="text" id="made_item" name="made_item" class="form-control" placeholder="Enter your Made Item" title="Made In Item">
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label>Supplier Name</label>
                <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm"><i class="far fa-user"></i></span>
                    </div>
                    <select class="custom-select form-control" id="supplier_item" name="supplier_item" title="name Supplier">
                        <option selected>Choose Supplier</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
            </div>
        </div>


        <div class="col-md-4">
            <div class="form-group">
                <label class="text-danger">Minimum stock</label>
                <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm"><i class="fal fa-stopwatch"></i></span>
                    </div>
                    <input type="number" id="Minimumstock_item" name="Minimumstock_item" class="form-control" placeholder="Enter your Minimum Item" title="Minimum stock">
                </div>
            </div>
        </div>


        <div class="col-md-3">
            <div class="form-group">
                <label class="text-danger">Purchasing price</label>
                <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm"><i class="far fa-dollar-sign"></i></span>
                    </div>
                    <input type="number" id="purchasing_item" name="purchasing_item" class="form-control" placeholder="Enter your Purchasing Item" title="Purchasing price Item">
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label class="text-danger">Selling Price</label>
                <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm"><i class="far fa-dollar-sign"></i></span>
                    </div>
                    <input type="number" id="selling_item" name="selling_item" class="form-control" placeholder="Enter your Selling Item" title="Selling Price">
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>Wholesale price</label>
                <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm"><i class="far fa-dollar-sign"></i></span>
                    </div>
                    <input type="number" id="wholesale_item" name="wholesale_item" class="form-control" placeholder="Enter your Wholesale Item" title="Wholesale price stock">
                </div>
            </div>
        </div>


        <div class="col-md-3">
            <div class="form-group">
                <label class="text-danger">Discount Minimum</label>
                <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm"><i class="far fa-dollar-sign"></i></span>
                    </div>
                    <input type="number" id="discount_item" name="discount_item" class="form-control" placeholder="Enter your Discount Item" title="Discount Minimum Item">
                </div>
            </div>
        </div>



        <div class="input-group  mb-3  col-md-6">
            <div class="input-group-prepend">
                <span class="input-group-text d-grid" id="inputGroup-sizing-sm">No<i class="fal fa-comments"></i>Tes</span>
            </div>
            <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Enter your Notes Item" cols="3" rows="4"></textarea>
        </div>


        <div class="input-group  mb-3  col-md-3">
            <div class="input-group-prepend">
                <img src="~/images/ui/image-defaul.png" id="customer_image" class="btn rounded-circle shadow img-thumbnail" alt="avatar" title="Upload Image Item">

            </div>
            <span class="text-center  pl-md-3 pt-md-2 ">Images Item</span>
            <input type="file" id="images_item" name="images_item" class="text-center center-block file-upload d-none">
        </div>


        <div class="input-group  mb-3  col-md-3">
            <div class="input-group-prepend">
                <img src="~/images/ui/ChooseFile.png" id="customer_image" class="btn border  shadow img-thumbnail" alt="avatar" title="upload image">

            </div>
            <input type="file" id="customer_uplode" class="text-center center-block file-upload d-none">
        </div>

    </div>



</form>

