


        @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_Layout_admin.cshtml";

        }

        <div class="container-fluid flex-grow-1 container-p-y">
        <h4 class="font-weight-bold py-3 mb-0">Category</h4>
        <div class="text-muted small mt-0 mb-4 d-block breadcrumb">
        <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="Home/Index"><i class="feather icon-home"></i></a></li>
        <li class="breadcrumb-item ">Home<a href="Home/Index" title="Home"></a></li>
        <li class="breadcrumb-item active">Category</li>
        </ol>
        </div>



        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Category_Modal">
        Add New Category
        </button>


        <table id="TableCategory" class="table " style="width:100%">

        <thead>
        <tr>
        <th>ID</th>
        <th>Category</th>
        <th>Action</th>

        </tr>
        </thead>
        <tbody class="tbody_Category"></tbody>
        </table>

        <!-- Modal -->
        <div class="modal modal-top fade" id="Category_Modal" tabindex="-1">
        <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Category Name</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
        <form id="Category_Form">
        <div class="form-group">
        <label>Category Name</label>
        <input type="text" class="form-control" id="Category_Name" title="Category" name="Category_Name" placeholder="Enter your Category " required>
        </div>

        </form>



        </div>
        <div class="modal-footer">

        <button type="submit" class="btn btn-primary" id="btnAdd" onclick="return Add();">Add</button>
        <button type="button" class="btn btn-primary" style="display:none;" id="btnUpdate" onclick="Update();">Update</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        </div>
        </div>
        </div>

        </div>







        <script src="~/Scripts/jquery-3.3.1.min.js"></script>
        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/secripts_systm/Catgegory.js"></script>